@media (min-width: 1200px) {
	.container {
		max-width: inherit;
		width: 1210px;
	}
}

@media (min-width: 1441px) {
	.container {
		max-width: inherit;
		width: 1280px;
	}
}

@media (max-width: 1600px) {
	.container {
		max-width: inherit;
		width: 1210px;
	}
}

@media (max-width: 1440px) {
	.container {
		max-width: inherit;
		width: 1210px;
	}
}

@media (max-width: 1199px) {
	.container {
		max-width: inherit;
		width: 970px;
	}
}

@media (max-width: 991px) {
	.container {
		max-width: inherit;
		width: 100%;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: inherit;
		width: 100%;
	}
}

@media (max-width: 575px) {
	.container {
		max-width: inherit;
		width: 100%;
	}
}

// breakpoint 1600px
@media (max-width: $breakpoint-xxxl) {
}
// breakpoint 1440px
@media (max-width: $breakpoint-xxl) {
}
// breakpoint 1199px
@media (max-width: $breakpoint-xl) {
}
// breakpoint 991px
@media (max-width: $breakpoint-lg) {
}
// breakpoint 767px
@media (max-width: $breakpoint-md) {
}
// breakpoint 575px
@media (max-width: $breakpoint-sm) {
}
