.form-default .form-group {
    position: relative;
    margin-bottom: 20px;
}
.form-default .control-label {
    margin-bottom: 10px;
    font-weight: $--fw-normal;
    @include font-size($--typo-xs);
    color: $--color-default;
    line-height: 1.2em;
    .require {
        color: $--color-danger;
    }
}
.form-default .form-control {
    height: 60px;
    line-height: 1.2em;
    padding: 0.75rem 1rem;
    background-color: #fff;
    border: 1px solid $--color-border;
    border-radius: 0.5rem;
    box-shadow: none;
    @include font-size($--typo-xs);
    color: $--color-default;
    font-weight: $--fw-normal;
    &::-webkit-input-placeholder {
        color: $--color-gray-100;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $--color-gray-100;
        opacity: 1;
    }
    &::placeholder {
        color: $--color-gray-100;
        opacity: 1;
    }
}
.form-default textarea.form-control {
    resize: none;
    height: auto;
}
.form-default .form-note {
    position: absolute;
    top: 100%;
    left: 20px;
    margin-top: 4px;
    @include font-size($--typo-xs);
    color: $--color-gray-100;
}
.form-default .form-control:focus {
    border-color: $--color-border;
    text-shadow: none;
}
.form-default .block-control {
    position: relative;
}
.form-default .has-error .form-control:focus {
    box-shadow: none;
}
.form-default .has-success .form-control:focus {
    box-shadow: none;
}

.form-default .floating-label {
    color: $--color-default;
    @include font-size($--typo-xs);
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 9px;
    transition: all 200ms ease-out;
}
.form-default .form-control:focus ~ .floating-label,
.form-default .form-control:not(:focus):valid ~ .floating-label {
    color: $--color-default;
    @include font-size($--typo-xs);
    left: 0;
    top: -22px;
}

.form-control-feedback {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-size: 100%;
}
.form-control-feedback:before {
    display: none;
}
.form-control-feedback.glyphicon-ok {
    background: url("../img/icon/checked.png") center no-repeat;
    background-size: 16px;
}
.form-control-feedback.glyphicon-remove {
    background: url("../img/icon/cancel.png") center no-repeat;
    background-size: 16px;
}

.radio-control {
    position: relative;
    display: inline-block;
}
.radio-control .icon {
    width: 20px;
    height: 20px;
    border: 1px solid $--color-border;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.radio-control .title {
    margin: 0;
    @include font-size($--typo-default);
    font-weight: $--fw-normal;
    color: $--color-default;
    padding-left: 30px;
    line-height: 1.2em;
    display: block;
}
.radio-control input[type="radio"] {
    margin-top: 0;
    position: absolute;
    z-index: 5;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
.radio-control input[type="radio"]:checked ~ .icon {
    border-color: transparent;
    border-color: $--color-border;
}
.radio-control input[type="radio"]:checked ~ .icon:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: $--color-default;
    border-radius: 50%;
}

.checkbox-control {
    position: relative;
    display: inline-block;
}
.checkbox-control .icon {
    width: 20px;
    height: 20px;
    border: 1px solid $--color-border;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}
.checkbox-control .title {
    margin: 0;
    @include font-size($--typo-default);
    font-weight: $--fw-normal;
    color: $--color-default;
    padding-left: 30px;
    line-height: 1.2em;
    display: block;
}
.checkbox-control input[type="checkbox"] {
    margin-top: 0;
    position: absolute;
    z-index: 5;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
.checkbox-control input[type="checkbox"]:checked ~ .icon {
    border-color: transparent;
    background-color: $--color-default;
}
.checkbox-control input[type="checkbox"]:checked ~ .icon:before {
    font-family: "feahter";
    content: "\e83f";
}

// select2
.select2-container--default .select2-selection--single {
    height: 60px;
    border-color: $--color-border;
    background-color: $--color-primary-1;
    border-radius: 0.5rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    @include font-size($--typo-xs);
    line-height: 60px;
    padding-left: 1rem;
    padding-right: 2.5rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 58px;
    line-height: 58px;
    width: 24px;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: $--color-border;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $--color-primary-300;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: solid;
    border-color: $--color-default !important;
    border-width: 0.125em 0.125em 0 0 !important;
    content: "";
    display: inline-block;
    height: 0.5em;
    left: 0;
    position: relative;
    vertical-align: middle;
    width: 0.5em;
    top: -0.15em;
    transform: rotate(135deg);
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    top: 0.15em;
    transform: rotate(-45deg);
}
.select2-dropdown {
    border-color: $--color-border;
    border-radius: 0.5rem;
}
.select2-results__option {
    padding: 1rem 1rem;
}

.has-feedback {
    .help-block {
       font-size: .75em;
    }
    &.has-error,
    &.has-danger {
        .help-block {
            color: $--color-danger;
            margin-top: 0.75rem;
        }
    }
    &.has-success {
        .help-block {
            color: $--color-success;
            margin-top: 0.75rem;
        }
    }
}
