div.swal2-popup {
    border-radius: 0;
    width: 26em;
    padding-bottom: 40px;
    color: $--color-default;
    background-color: $--color-light;
}
div.swal2-icon {
    margin-top: 40px;
    margin-bottom: 0;
}
h2.swal2-title {
    padding-top: 15px;
    @include font-size($--typo-default);
    font-weight: $--fw-normal;
    color: $--color-primary-300;
}
div.swal2-html-container {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 3em;
    margin-right: 3em;
    @include font-size($--typo-default);
    font-weight: $--fw-normal;
    color: $--color-primary-300;
    overflow: visible;
    line-height: 1.4em;
}
.swal2-actions {
    .btn {
        margin: 0 5px;
    }
}

.swal2-styled {
    height: 50px;
    min-width: 134px;
    border-radius: 25rem !important;
}
.swal2-styled.swal2-confirm {
    color: $--color-light !important;
    background-color: $--color-primary-300 !important;
}

// @supports (backdrop-filter: none) {
//     div.swal2-container.swal2-backdrop-show,
//     div.swal2-container.swal2-noanimation{
//         background-color: rgba(255,255,255,0.2;
//         -webkit-backdrop-filter: blur(30px;
//         backdrop-filter: blur(30px;
//     }
// }
// @supports not (backdrop-filter: none) {
//     div.swal2-container.swal2-backdrop-show,
//     div.swal2-container.swal2-noanimation{
//         background-color: rgba(255,255,255,0.8;
//     }
// }
