.layout-container {
    margin-top: 88px;
}

.default-page {
    padding: 3rem 0;
    background-color: #f0f0f0;
    @include bg-cover(url("../../public/image/background/layout-container.png"));
}
.default-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.alert {
    .icon {
        .status {
            position: absolute;
            bottom: 0;
            left: calc(50% - 30px);
        }
    }
    .status {
        .rounded-circle {
            border: 2px solid $--color-light;
            width: 48px;
            height: 48px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            > span {
                font-size: 30px;
                font-weight: bold;
            }
        }
        &.-success {
            .rounded-circle {
                color: $--color-light;
                background-color: $--color-success;
            }
            .feather::before {
                content: "\e83f";
            }
        }
        &.-fail {
            .rounded-circle {
                color: $--color-light;
                background-color: $--color-danger;
            }
            .feather::before {
                content: "\e8f6";
            }
        }
    }
}

.icon {
    &.icon-svg {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    &.icon-phone-alt {
        // background-image: url("../../public/image/icon/icon-awesome-phone-alt.svg");
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13'%3E%3Cpath id='Icon_awesome-phone-alt' data-name='Icon awesome-phone-alt' d='M12.629,9.187,9.785,7.968a.609.609,0,0,0-.711.175L7.815,9.682a9.411,9.411,0,0,1-4.5-4.5L4.855,3.923a.608.608,0,0,0,.175-.711L3.811.369a.613.613,0,0,0-.7-.353L.472.625A.609.609,0,0,0,0,1.219,11.78,11.78,0,0,0,11.781,13a.609.609,0,0,0,.594-.472l.609-2.641a.617.617,0,0,0-.356-.7Z' transform='translate(0 0)' fill='%2339f8ff'/%3E%3C/svg%3E%0A");
    }
    &.icon-material-mail {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10.4' viewBox='0 0 13 10.4'%3E%3Cpath id='Icon_material-mail' data-name='Icon material-mail' d='M14.7,6H4.3A1.3,1.3,0,0,0,3.006,7.3L3,15.1a1.3,1.3,0,0,0,1.3,1.3H14.7A1.3,1.3,0,0,0,16,15.1V7.3A1.3,1.3,0,0,0,14.7,6Zm0,2.6L9.5,11.85,4.3,8.6V7.3l5.2,3.25L14.7,7.3Z' transform='translate(-3 -6)' fill='%2339f8ff'/%3E%3C/svg%3E%0A");
    }
}

.report {
    > [class*="card-step"] {
        background-color: $--color-light;
        border-radius: 0;
        border: none;
        box-shadow: $--box-shadow;
        @include bg-cover(url("../../public/image/asset/report-graphic.png"));
        background-position: center right;
        background-size: contain;
        min-height: 669px;
        > .card-body {
            padding: 2rem 3rem;
        }
        .alert {
            .icon {
                img {
                    width: 133px;
                }
            }
        }
    }
    .whead {
        .title {
            @include font-size($--typo-lg);
            margin-bottom: 0.5rem;
            .icon {
                display: flex;
                align-items: center;
                // width: 38px;
                height: 40px;
                margin-right: 0.75rem;
            }
        }
        .desc {
            margin-bottom: 1.25rem;
        }
    }
    .right-side {
        padding-top: 8rem;
        color: $--color-light;
        .link {
            color: $--color-light;
        }
    }
    .hotline {
        text-align: right;
        .title {
            font-size: 72px;
            font-weight: $--fw-bold;
            color: $--color-secondary;
            span {
                font-size: 64px;
                position: relative;
                right: -15px;
            }
        }
        .icon.icon-svg {
            width: 50px;
            height: 50px;
        }
        ~ .contact {
            margin-top: 3rem;
        }
    }
    .contact {
        margin-top: 2rem;
        padding-left: 30px;
        .whead {
            margin-bottom: 0.5rem;
        }
        ul > li {
            + li {
                margin-top: 0.75rem;
            }
        }
        .icon-svg {
            position: relative;
            top: 1px;
            width: 13px;
            height: 13px;
        }
        .link {
            font-size: 15px;
            span {
                color: $--color-secondary;
                margin-right: 0.25rem;
            }
            &.-tel {
                font-weight: $--fw-bold;
            }
        }
    }
    #map_canvas {
        height: 100%;
    }
    #map_canvas > * {
        width: 100%;
        height: 100%;
    }
    .form-default .form-group.h-100 {
        height: calc(100% - 20px) !important;
    }
    .contact-form-action {
        .btn + .btn {
            margin-left: 1rem;
        }
    }
}

.card-inner {
    text-align: center;
    background-color: $--color-primary-1;
    border-radius: 0.75rem;
    border: none;
    padding: 2rem;
    .card-body {
        min-height: 420px;
    }
}

.upload-file-block {
    .card {
        .card-body {
            padding-top: 3rem;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23A5C9EFFF' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            border-radius: 10px;
        }
    }
    .icon {
        max-height: 70px;
        margin-bottom: 1rem;
    }
    .upload-btn {
        margin-bottom: 1rem;
    }
    .help-block {
        font-size: 12px;
        font-weight: $--fw-medium;
        line-height: 1.4em;
        margin-bottom: 1rem;
        &.-limit {
            font-size: 8px;
        }
        &.-support {
            font-size: 8px;
            color: $--color-primary-300;
            width: 50%;
            padding: 0.75rem;
            margin: 0 auto;
            margin-top: 3rem;
            background-color: #e0efff;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23A5C9EFFF' stroke-width='1' stroke-dasharray='3%2c6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
            border-radius: 6px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .table {
        border-collapse: separate;
        border-radius: 0.75rem;
        border-spacing: 0;
        overflow: hidden;
        overflow-x: auto;
        border: 1px solid $--color-border;
        thead {
            tr {
                th {
                    border-top: transparent;
                    border-bottom: 1px solid $--color-border;
                    &:not(:last-child) {
                        border-right: 1px solid $--color-border;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    border-top: transparent;
                    border-bottom: 1px solid $--color-border;
                    &:not(:last-child) {
                        border-right: 1px solid $--color-border;
                    }
                }
            }
        }
        td,
        th {
            font-size: 10px;
            padding: 1rem;
        }
        th {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }
        .file-return {
            .link {
                color: $--color-default;
            }
            .icon > img {
                width: 10px;
            }
            .title {
                line-height: 1.2em;
                margin-bottom: 0.5rem;
            }
            .desc {
                font-size: 6px;
                line-height: 1.2em;
            }
        }
    }
    .upload-file-btn ~ * {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}

.step-block {
    margin-bottom: 2rem;
    .item {
        position: relative;
        text-align: center;
        .icon {
            width: 83px;
            height: 83px;
            margin: 0 auto;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #b7d2ef;
            position: relative;
            z-index: 1;
            box-shadow: 0 0.25rem 3rem rgba(105, 105, 105, 0.53);
            &:before {
                content: "";
                @include color-gradient-100(180deg);
                border-radius: 50%;
                box-sizing: border-box;
                position: absolute;
                top: 2px;
                left: 2px;
                right: 2px;
                bottom: 2px;
                z-index: 1;
            }
            > img {
                min-width: 30px;
                max-width: 40px;
                position: relative;
                z-index: 2;
                filter: grayscale(1) invert(1) brightness(100);
            }
        }
        .title {
            font-weight: $--fw-bold;
            margin-top: 1.5rem;
        }
        &:first-child::after,
        &:last-child::after {
            position: absolute;
            content: "";
            top: calc(83px / 2 - 3px);
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: $--color-primary-300;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
        }
        &:first-child::after {
            left: calc(50% + 34px);
        }
        &:last-child::after {
            right: calc(50% + 37px);
        }
        &:not(:first-child)::before {
            position: absolute;
            content: "";
            top: calc(83px / 2);
            left: -50%;
            height: 4px;
            width: 100%;
            background-color: $--color-primary-300;
            z-index: 0;
        }
        &:first-child:not(.active) {
            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
        &.active:last-child {
            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
        &.active ~ .item {
            .icon {
                box-shadow: none;
                &::before {
                    background: $--color-light;
                }
                > img {
                    filter: none;
                }
            }
            .title {
                font-weight: $--fw-normal;
            }
            &::before {
                background-color: $--color-border;
            }
        }
    }
}

// breakpoint 1600px
@media (max-width: $breakpoint-xxxl) {
}
// breakpoint 1440px
@media (max-width: $breakpoint-xxl) {
}

// breakpoint 1199px
@media (max-width: $breakpoint-xl) {
    .report > [class*="card-step"] {
        background-position: 114% center;
    }
    .report .contact {
        padding-left: 50px;
    }
    .upload-file-block .card .card-body {
        padding-top: 2rem;
    }
    .upload-file-block .help-block.-support {
        margin-top: 2rem;
    }
    .upload-file-block .help-block.-support {
        width: 100%;
    }
}

// breakpoint 991px
@media (max-width: $breakpoint-lg) {
    .step-block .item .icon {
        width: 73px;
        height: 73px;
    }
    .step-block .item:not(:first-child)::before {
        top: calc(73px / 2);
    }
    .step-block .item:first-child::after,
    .step-block .item:last-child::after {
        top: calc(73px / 2 - 3px);
    }
    .step-block .item:first-child::after {
        left: calc(50% + 28px);
    }
    .step-block .item:last-child::after {
        right: calc(50% + 28px);
    }
    .report > [class*="card-step"] > .card-body {
        padding: 0;
    }
    .report .left-side {
        background-color: $--color-light;
    }
    .report .right-side,
    .report .left-side {
        padding: 2rem 1.25rem;
    }
    .report > [class*="card-step"] {
        background-position: center right;
        background-size: cover;
    }
    .report .contact {
        padding-left: 0;
        margin-left: auto;
        width: 220px;
    }
    .report .contact-form-action .btn {
        // width: 48.5%;
        width: calc(50% - 10px);
    }
    .report .contact-form-action .btn + .btn {
        margin-left: 10px;
    }
}

// breakpoint 767px
@media (max-width: $breakpoint-md) {
    .layout-container {
        margin-top: 111px;
    }
    .default-page {
        padding: 2rem 0;
    }

    .report .hotline .title {
        font-size: 56px;
    }
    .report .hotline .title span {
        font-size: 50px;
    }
    .report .hotline ~ .contact {
        margin-top: 1.5rem;
    }

    .step-block {
        margin-bottom: 1rem;
    }
    .step-block .item:not(.active) {
        display: none;
    }
    .step-block .progress-default {
        position: relative;
    }
    .step-block .progress-default .progress {
        position: absolute;
        width: 100%;
        top: calc(73px / 2);
        left: 0;
    }
    .step-block .item:not(:first-child)::before,
    .step-block .item.active:last-child:after {
        display: none;
    }

    .step-block .progress-default .progress {
        &.progress-step-1 {
            .progress-bar {
                width: 1%;
            }
        }
        &.progress-step-2 {
            .progress-bar {
                width: 25%;
            }
        }
        &.progress-step-3 {
            .progress-bar {
                width: 50%;
            }
        }
        &.progress-step-4 {
            .progress-bar {
                width: 75%;
            }
        }
        &.progress-step-5 {
            .progress-bar {
                width: 100%;
            }
        }
    }

    .report #map_canvas {
        height: 400px;
    }
    .report .form-default .form-group.h-100 {
        height: 100% !important;
        margin-bottom: 1.5rem;
    }
    .card-inner {
        padding: 1.25rem;
    }
    .card-inner .card-body {
        min-height: 380px;
    }
    .report > [class*="card-step"] .alert .icon img {
        width: 100px;
    }
    .alert .status .rounded-circle {
        width: 42px;
        height: 42px;
    }
    .alert .status .rounded-circle > span {
        font-size: 24px;
    }
    .alert .icon .status {
        left: calc(50% - 26px);
    }
}

// breakpoint 575px
@media (max-width: $breakpoint-sm) {
    .report .contact-form-action .btn {
        width: 100%;
    }
    .report .contact-form-action .btn + .btn {
        margin-top: 1rem;
        margin-left: 0;
    }
    .report .contact {
        width: 100%;
    }
    .upload-file-block .table thead tr th:first-child {
        width: 35% !important;
    }
    .upload-file-block .table thead tr th:nth-child(2) {
        width: 55% !important;
    }
    .card-inner .card-body {
        min-height: 320px;
    }
}
